{% extends 'base/base.html' %}
{% from "home/_marcos.html" import render_aggregate %}

{% block title %}home{% endblock %}
{% block page %}


    <h1 class="text-center">Welcome {{ user.name }}</h1>


    <div class="container shadow bg-light rounded">
        <h2 class="text-center">My aggregates</h2>
        {% if not aggregates %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-sm-center text-secondary">No aggregates found</p>
                    </div>
                </div>
            </div>
        {% else %}
            {% for agg in aggregates %}
                {{ render_aggregate(agg) }}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}