<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <!-- include the bootstrap css -->
    {{ bootstrap.load_css() }}

    <title>{% block title %}{% endblock %}</title>

</head>

<body>

{% if not request.path.startswith('/auth/') %}
    {% include 'base/navbar.html' %}
{% endif %}

{% include 'base/error_messages.html' %}

<div class="page-wrapper">
    {% block page %}
    {% endblock %}
</div>


<!-- include the bootstrap js file -->
{{ bootstrap.load_js() }}
<!-- include the htmx js file -->
<script src="https://unpkg.com/htmx.org"></script>

</body>

</html>